# OS
.DS_Store
Thumbs.db

# Python compiled files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Editor / local history
.history/
.vscode/*.log
.vscode/settings.json
.vscode/launch.json

# PowerShell / temp
*.tmp
*.temp

# Build artifacts
dist/
